In [1]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from census import Census
from us import states
from functools import reduce

# Census API Key
from config import census_key
c = Census(census_key, year=2017)

In [2]:
# Run Census Search to retrieve data on all states (2017 ACS5 Census)
# See: https://github.com/CommerceDataService/census-wrapper for library documentation
# See: https://gist.github.com/afhaque/60558290d6efd892351c4b64e5c01e9b for labels
census_pd = c.acs5.get(("NAME","B19013_001E","B01002_001E","B01002_002E", "B01002_003E", "B02001_002E",
                        "B02001_003E", "B02001_004E", "B02001_005E", "B02001_006E", "B02001_007E", "B15003_002E",
                                "B15003_017E", "B15003_018E", "B15003_020E", "B15003_021E", "B15003_022E","B15003_023E",
                                "B15003_024E","B15003_025E"), {'for': 'county:*', 'in': 'state: *'})

# Convert to DataFrame
census_pd = pd.DataFrame(census_pd)


# Column Reordering
census_pd = census_pd.rename(columns={"B19013_001E": "Household Income",
                                      "B01002_001E": "Median Age",
                                      "B01002_002E": "Median Male Age",
                                      "B01002_003E": "Median Female Age",
                                      "B02001_002E": "White",
                                      "B02001_003E": "Black or African American",
                                      "B02001_004E": "American Indian and Alaska Native",
                                      "B02001_005E": "Asian",                                   
                                      "B02001_006E": "Native Hawaiian and Other Pacific Islander",
                                      "B02001_007E": "Other",
                                      "B15003_002E": "No Education",
                                      "B15003_017E": "High School", 
                                      "B15003_018E": "GED",
                                      "B15003_020E": "Some College",
                                      "B15003_021E": "Associates Degree",
                                      "B15003_022E": "Bachelors Degree",
                                      "B15003_023E": "Masters Degree",
                                      "B15003_024E": "Professional Degree",
                                      "B15003_025E": "Doctoral Degree",
                                      "state": "State FIPS",
                                      "county": "County FIPS",
                                      "NAME": "Name"})

# Final DataFrame
census_pd = census_pd[["Name", "State FIPS", "County FIPS", "Household Income", "Median Age", "Median Male Age", 
                    "Median Female Age","White", "Black or African American", "American Indian and Alaska Native",
                       "Asian", "Native Hawaiian and Other Pacific Islander", "Other", "No Education", "High School", "GED", "Some College", "Associates Degree",
                                         "Bachelors Degree", "Professional Degree", "Doctoral Degree"]]

print(len(census_pd))
census_pd.to_csv("census_pd.csv", encoding="utf-8", index=False)
census_pd.head()

3220

,Name,State FIPS,County FIPS,Household Income,Median Age,Median Male Age,Median Female Age,White,Black or African American,American Indian and Alaska Native,...,Native Hawaiian and Other Pacific Islander,Other,No Education,High School,GED,Some College,Associates Degree,Bachelors Degree,Professional Degree,Doctoral Degree
0,"Corozal Municipio, Puerto Rico",72,047,14752.0,38.1,36.9,39.3,28500.0,2097.0,0.0,...,0.0,2916.0,698.0,6371.0,262.0,2972.0,1837.0,3142.0,0.0,92.0
1,"Maunabo Municipio, Puerto Rico",72,095,17636.0,43.5,42.9,44.0,3795.0,7042.0,10.0,...,0.0,317.0,320.0,1874.0,161.0,935.0,690.0,1156.0,0.0,13.0
2,"Peñuelas Municipio, Puerto Rico",72,111,16868.0,36.4,35.7,37.1,16967.0,755.0,29.0,...,0.0,3643.0,376.0,3991.0,297.0,1095.0,1712.0,2415.0,99.0,125.0
3,"Ponce Municipio, Puerto Rico",72,113,16561.0,39.5,36.5,42.1,117164.0,7493.0,211.0,...,0.0,9801.0,2557.0,28670.0,1974.0,10273.0,8357.0,19156.0,1179.0,1714.0
4,"San Sebastián Municipio, Puerto Rico",72,131,14275.0,42.0,40.2,43.8,28075.0,996.0,0.0,...,0.0,9202.0,1251.0,6274.0,555.0,3116.0,2301.0,4135.0,116.0,71.0

In [3]:
# Read in the csv containing state names by code
State_FIPS_pd = pd.read_csv("State_FIPS_Codes.csv")

State_FIPS_pd

    State FIPS            State Name
0            1               Alabama
1            2                Alaska
2            4               Arizona
3            5              Arkansas
4            6            California
5            8              Colorado
6            9           Connecticut
7           10              Delaware
8           11  District of Columbia
9           12               Florida
10          13               Georgia
11          15                Hawaii
12          16                 Idaho
13          17              Illinois
14          18               Indiana
15          19                  Iowa
16          20                Kansas
17          21              Kentucky
18          22             Louisiana
19          23                 Maine
20          24              Maryland
21          25         Massachusetts
22          26              Michigan
23          27             Minnesota
24          28           Mississippi
25          29              Missouri
26          30               Montana
27          31              Nebraska
28          32                Nevada
29          33         New Hampshire
30          34            New Jersey
31          35            New Mexico
32          36              New York
33          37        North Carolina
34          38          North Dakota
35          39                  Ohio
36          40              Oklahoma
37          41                Oregon
38          42          Pennsylvania
39          44          Rhode Island
40          45        South Carolina
41          46          South Dakota
42          47             Tennessee
43          48                 Texas
44          49                  Utah
45          50               Vermont
46          51              Virginia
47          53            Washington
48          54         West Virginia
49          55             Wisconsin
50          56               Wyoming
51          72           Puerto Rico

In [4]:
# Read in the csv containing county names by code
County_FIPS_pd = pd.read_csv("County_FIPS_Codes.csv")
County_FIPS_pd.head()

   County FIPS     County Name
0            1  Autauga County
1            3  Baldwin County
2            5  Barbour County
3            7     Bibb County
4            9   Blount County

In [5]:
#Write to CSV
census_pd.to_csv("census_data.csv", encoding="utf-8", index=False)

#code to write out county_FIPS_pd
County_FIPS_pd.to_csv("county_fips_pd_ip1.csv", encoding="utf-8", index=False)

In [6]:
#change types from object to int64
census_pd[['State FIPS', 'County FIPS']] = census_pd[['State FIPS', 'County FIPS']].apply(pd.to_numeric)
print(census_pd.dtypes)
State_FIPS_pd[['State FIPS']] = State_FIPS_pd[['State FIPS']].apply(pd.to_numeric)
print(State_FIPS_pd.dtypes)
County_FIPS_pd[['County FIPS']] = County_FIPS_pd[['County FIPS']].apply(pd.to_numeric)
print(County_FIPS_pd.dtypes)

Name                                           object
State FIPS                                      int64
County FIPS                                     int64
Household Income                              float64
Median Age                                    float64
Median Male Age                               float64
Median Female Age                             float64
White                                         float64
Black or African American                     float64
American Indian and Alaska Native             float64
Asian                                         float64
Native Hawaiian and Other Pacific Islander    float64
Other                                         float64
No Education                                  float64
High School                                   float64
GED                                           float64
Some College                                  float64
Associates Degree                             float64
Bachelors Degree                              float64
Professional Degree                           float64
Doctoral Degree                               float64
dtype: object
State FIPS     int64
State Name    object
dtype: object
County FIPS     int64
County Name    object
dtype: object

In [7]:
# Merge the datasets using the state columns
census_data = pd.merge(census_pd, State_FIPS_pd, how="left", left_on="State FIPS", right_on="State FIPS")

# Save the updated dataframe as a csv
census_data.to_csv("census_data.csv", encoding="utf-8", index=False)
census_data.head(100)

,Name,State FIPS,County FIPS,Household Income,Median Age,Median Male Age,Median Female Age,White,Black or African American,American Indian and Alaska Native,...,Other,No Education,High School,GED,Some College,Associates Degree,Bachelors Degree,Professional Degree,Doctoral Degree,State Name
0,"Corozal Municipio, Puerto Rico",72,47,14752.0,38.1,36.9,39.3,28500.0,2097.0,0.0,...,2916.0,698.0,6371.0,262.0,2972.0,1837.0,3142.0,0.0,92.0,Puerto Rico
1,"Maunabo Municipio, Puerto Rico",72,95,17636.0,43.5,42.9,44.0,3795.0,7042.0,10.0,...,317.0,320.0,1874.0,161.0,935.0,690.0,1156.0,0.0,13.0,Puerto Rico
2,"Peñuelas Municipio, Puerto Rico",72,111,16868.0,36.4,35.7,37.1,16967.0,755.0,29.0,...,3643.0,376.0,3991.0,297.0,1095.0,1712.0,2415.0,99.0,125.0,Puerto Rico
3,"Ponce Municipio, Puerto Rico",72,113,16561.0,39.5,36.5,42.1,117164.0,7493.0,211.0,...,9801.0,2557.0,28670.0,1974.0,10273.0,8357.0,19156.0,1179.0,1714.0,Puerto Rico
4,"San Sebastián Municipio, Puerto Rico",72,131,14275.0,42.0,40.2,43.8,28075.0,996.0,0.0,...,9202.0,1251.0,6274.0,555.0,3116.0,2301.0,4135.0,116.0,71.0,Puerto Rico
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,"Macon County, Alabama",1,87,32308.0,38.0,35.9,39.6,3060.0,15903.0,55.0,...,147.0,150.0,3205.0,763.0,2353.0,713.0,1332.0,165.0,168.0,Alabama
96,"Limestone County, Alabama",1,83,52831.0,39.1,38.1,40.5,74794.0,12042.0,724.0,...,941.0,774.0,15001.0,4352.0,9238.0,4831.0,10410.0,553.0,446.0,Alabama
97,"Shelby County, Alabama",1,117,74063.0,38.5,37.7,39.3,168535.0,24669.0,468.0,...,7288.0,768.0,25033.0,4511.0,21682.0,10158.0,39369.0,3304.0,1983.0,Alabama
98,"St. Clair County, Alabama",1,115,53483.0,40.1,39.0,41.6,76026.0,8126.0,241.0,...,686.0,565.0,17590.0,4204.0,10014.0,5296.0,6366.0,443.0,443.0,Alabama
99,"Winston County, Alabama",1,133,35362.0,44.6,43.7,45.8,23135.0,124.0,65.0,...,126.0,313.0,5082.0,1160.0,2106.0,1416.0,1354.0,146.0,110.0,Alabama

In [8]:
#get count of counties per state to figure out income and age columns correctly when grouping states
county_counts = census_data['State Name'].value_counts()

county_counts

Texas                   254
Georgia                 159
Virginia                133
Kentucky                120
Missouri                115
Kansas                  105
Illinois                102
North Carolina          100
Iowa                     99
Tennessee                95
Nebraska                 93
Indiana                  92
Ohio                     88
Minnesota                87
Michigan                 83
Mississippi              82
Puerto Rico              78
Oklahoma                 77
Arkansas                 75
Wisconsin                72
Florida                  67
Pennsylvania             67
Alabama                  67
South Dakota             66
Louisiana                64
Colorado                 64
New York                 62
California               58
Montana                  56
West Virginia            55
North Dakota             53
South Carolina           46
Idaho                    44
Washington               39
Oregon                   36
New Mexico               33
Utah                     29
Alaska                   29
Maryland                 24
Wyoming                  23
New Jersey               21
Nevada                   17
Maine                    16
Arizona                  15
Massachusetts            14
Vermont                  14
New Hampshire            10
Connecticut               8
Hawaii                    5
Rhode Island              5
Delaware                  3
District of Columbia      1
Name: State Name, dtype: int64

In [9]:
#make county count dataframe
county_counts_df= pd.DataFrame(county_counts).reset_index()
county_counts_df.head()

      index  State Name
0     Texas         254
1   Georgia         159
2  Virginia         133
3  Kentucky         120
4  Missouri         115

In [10]:
#rename columns
county_counts_df = county_counts_df.rename(columns={'State Name':'Number of Counties', 'index':'State Name'})

county_counts_df.head()

  State Name  Number of Counties
0      Texas                 254
1    Georgia                 159
2   Virginia                 133
3   Kentucky                 120
4   Missouri                 115

In [11]:
#alphabatize so that key is correct
new_county_counts = county_counts_df.sort_values(by=['State Name'], ascending = True).reset_index(drop=True)
new_county_counts

              State Name  Number of Counties
0                Alabama                  67
1                 Alaska                  29
2                Arizona                  15
3               Arkansas                  75
4             California                  58
5               Colorado                  64
6            Connecticut                   8
7               Delaware                   3
8   District of Columbia                   1
9                Florida                  67
10               Georgia                 159
11                Hawaii                   5
12                 Idaho                  44
13              Illinois                 102
14               Indiana                  92
15                  Iowa                  99
16                Kansas                 105
17              Kentucky                 120
18             Louisiana                  64
19                 Maine                  16
20              Maryland                  24
21         Massachusetts                  14
22              Michigan                  83
23             Minnesota                  87
24           Mississippi                  82
25              Missouri                 115
26               Montana                  56
27              Nebraska                  93
28                Nevada                  17
29         New Hampshire                  10
30            New Jersey                  21
31            New Mexico                  33
32              New York                  62
33        North Carolina                 100
34          North Dakota                  53
35                  Ohio                  88
36              Oklahoma                  77
37                Oregon                  36
38          Pennsylvania                  67
39           Puerto Rico                  78
40          Rhode Island                   5
41        South Carolina                  46
42          South Dakota                  66
43             Tennessee                  95
44                 Texas                 254
45                  Utah                  29
46               Vermont                  14
47              Virginia                 133
48            Washington                  39
49         West Virginia                  55
50             Wisconsin                  72
51               Wyoming                  23

In [12]:
#group state information into same row with groupby
combined_state = census_data.groupby(['State Name']).sum().reset_index()


combined_state.to_csv("census_state.csv", encoding="utf-8", index=False)
print(max(combined_state["Household Income"]))
combined_state

12673162.0

,State Name,State FIPS,County FIPS,Household Income,Median Age,Median Male Age,Median Female Age,White,Black or African American,American Indian and Alaska Native,...,Native Hawaiian and Other Pacific Islander,Other,No Education,High School,GED,Some College,Associates Degree,Bachelors Degree,Professional Degree,Doctoral Degree
0,Alabama,67,4489,2698184.0,2710.1,2604.3,2812.8,3317702.0,1287167.0,25098.0,...,2213.0,66942.0,41118.0,831994.0,180557.0,513751.0,267245.0,503930.0,49452.0,34195.0
1,Alaska,58,4340,1926338.0,1071.4,1090.5,1048.6,481971.0,23702.0,104995.0,...,9075.0,10505.0,3451.0,106162.0,25131.0,94589.0,40210.0,88308.0,8878.0,4865.0
2,Arizona,60,208,687250.0,599.0,583.6,616.9,5277661.0,292831.0,300182.0,...,13364.0,474583.0,65604.0,909646.0,181693.0,803209.0,386977.0,802435.0,79689.0,55224.0
3,Arkansas,375,5625,2926881.0,3099.8,2996.6,3200.9,2302141.0,459969.0,19476.0,...,7062.0,75106.0,23003.0,557723.0,123763.0,313209.0,132221.0,280677.0,26156.0,19501.0
4,California,348,3364,3540712.0,2289.5,2230.3,2366.7,23607242.0,2263222.0,292018.0,...,152027.0,5329952.0,691906.0,4752859.0,592683.0,4091953.0,2021944.0,5291984.0,616368.0,410003.0
5,Colorado,512,3983,3478628.0,2705.7,2634.9,2795.8,4576201.0,221155.0,51406.0,...,8580.0,225497.0,34489.0,647717.0,143966.0,571493.0,307078.0,909794.0,83193.0,61492.0
6,Connecticut,72,64,595968.0,332.6,319.4,344.6,2757064.0,376240.0,9385.0,...,931.0,183754.0,25274.0,593663.0,79919.0,292319.0,188481.0,532055.0,73239.0,41842.0
7,Delaware,30,9,183884.0,123.4,118.7,127.9,652170.0,206290.0,3482.0,...,465.0,18512.0,7723.0,181038.0,22097.0,86200.0,51028.0,117478.0,12303.0,11346.0
8,District of Columbia,11,1,77649.0,33.9,33.8,34.1,273471.0,321062.0,1757.0,...,289.0,30961.0,5141.0,71712.0,12407.0,45479.0,14601.0,113830.0,39862.0,20333.0
9,Florida,804,4550,3158670.0,2901.3,2790.6,3021.9,15343997.0,3270863.0,56730.0,...,12342.0,536298.0,213582.0,3565287.0,605181.0,2017461.0,1405068.0,2616384.0,295243.0,162324.0
10,Georgia,2067,25677,6879737.0,6284.3,6061.1,6526.6,6061821.0,3195268.0,30552.0,...,5237.0,282570.0,91517.0,1554091.0,323121.0,1015467.0,502431.0,1241995.0,136781.0,85658.0
11,Hawaii,75,25,343315.0,220.3,213.6,226.0,357308.0,25884.0,2756.0,...,142600.0,14056.0,10445.0,251011.0,22151.0,154591.0,102896.0,209097.0,22323.0,14394.0
12,Idaho,704,1936,2031565.0,1755.3,1733.5,1767.9,1507880.0,11231.0,21323.0,...,2343.0,47964.0,10678.0,235912.0,56290.0,191187.0,101080.0,194303.0,15793.0,12085.0
13,Illinois,1734,10404,5398899.0,4238.0,4092.4,4393.7,9236701.0,1833501.0,29696.0,...,4275.0,767145.0,107965.0,1968185.0,313339.0,1242962.0,682300.0,1776326.0,187683.0,110749.0
14,Indiana,1656,8464,4772721.0,3694.6,3585.6,3811.6,5546787.0,613060.0,15027.0,...,2635.0,145791.0,39437.0,1248705.0,226167.0,614362.0,372514.0,704841.0,61395.0,44691.0
15,Iowa,1881,9801,5290172.0,4150.7,4000.9,4302.6,2824197.0,106762.0,10791.0,...,2913.0,39527.0,15497.0,568172.0,83578.0,288881.0,234511.0,386963.0,32657.0,24058.0
16,Kansas,2100,11025,5252370.0,4351.5,4197.2,4509.4,2465518.0,168470.0,23503.0,...,1923.0,65253.0,17061.0,417024.0,77825.0,293450.0,156529.0,389007.0,35336.0,23073.0
17,Kentucky,2520,14400,4976459.0,4885.3,4721.1,5046.7,3862600.0,353088.0,9324.0,...,2271.0,41197.0,32245.0,784789.0,203732.0,427875.0,238060.0,406916.0,51749.0,28577.0
18,Louisiana,1408,4096,2729861.0,2413.0,2315.1,2526.8,2909599.0,1500648.0,27094.0,...,1401.0,56216.0,38772.0,883014.0,163011.0,489708.0,178716.0,473914.0,51419.0,29420.0
19,Maine,368,256,794893.0,734.5,718.0,749.3,1258918.0,16906.0,8212.0,...,249.0,2967.0,5211.0,262199.0,48525.0,129115.0,95895.0,185832.0,17260.0,12809.0
20,Maryland,576,1079,1740988.0,979.9,948.1,1010.2,3395212.0,1782256.0,16281.0,...,2830.0,236834.0,47934.0,899907.0,127701.0,541106.0,266816.0,860298.0,121923.0,104335.0
21,Massachusetts,350,196,994430.0,581.8,562.0,599.5,5358373.0,499774.0,14336.0,...,2253.0,278835.0,65956.0,1028722.0,133961.0,513538.0,363330.0,1101605.0,136720.0,125146.0
22,Michigan,2158,6889,3945033.0,3680.1,3579.5,3785.7,7813199.0,1374515.0,51804.0,...,2808.0,115258.0,72640.0,1697454.0,268656.0,1078010.0,622070.0,1147842.0,114622.0,78702.0
23,Minnesota,2349,7569,5005110.0,3638.8,3550.2,3733.9,4598252.0,326953.0,57566.0,...,1976.0,95600.0,42738.0,823141.0,115705.0,545264.0,411916.0,849439.0,79377.0,52737.0
24,Mississippi,2296,6724,3035535.0,3128.6,2997.9,3268.8,1755471.0,1122576.0,13258.0,...,597.0,27530.0,26200.0,473078.0,121062.0,327958.0,177536.0,259993.0,26246.0,18905.0
25,Missouri,3335,13537,5110060.0,4747.9,4613.6,4896.8,5004537.0,703061.0,25933.0,...,6336.0,71084.0,33469.0,1079154.0,189730.0,623476.0,315780.0,718198.0,70213.0,49226.0
26,Montana,1680,3136,2673818.0,2480.7,2453.0,2516.7,916664.0,4438.0,66865.0,...,571.0,5492.0,3264.0,174647.0,31676.0,122989.0,61718.0,145089.0,12630.0,8940.0
27,Nebraska,2883,8649,4829337.0,4048.8,3928.3,4164.8,1663612.0,89718.0,16012.0,...,1524.0,35276.0,13699.0,286241.0,42991.0,195150.0,126111.0,251182.0,21989.0,15612.0
28,Nevada,544,774,966603.0,731.3,723.7,743.5,1936453.0,253013.0,32426.0,...,19019.0,279977.0,30781.0,476520.0,80331.0,360710.0,159428.0,306611.0,30932.0,17143.0
29,New Hampshire,330,100,649019.0,442.0,430.5,453.0,1244260.0,18632.0,2148.0,...,289.0,7016.0,5158.0,223845.0,39046.0,118909.0,94088.0,209224.0,18073.0,13370.0
30,New Jersey,714,441,1618003.0,856.6,824.9,887.0,6085474.0,1207356.0,18006.0,...,3013.0,573146.0,81641.0,1564815.0,157782.0,717690.0,400424.0,1439971.0,154079.0,94816.0
31,New Mexico,1155,995,1359508.0,1373.1,1335.5,1408.6,1547843.0,42187.0,197191.0,...,1390.0,197944.0,18090.0,300829.0,64185.0,241184.0,112855.0,208790.0,22601.0,24839.0
32,New York,2232,3844,3615174.0,2558.5,2469.6,2646.1,12638791.0,3100685.0,77130.0,...,7937.0,1730813.0,268719.0,3061197.0,530090.0,1538663.0,1184118.0,2718987.0,381597.0,204211.0
33,North Carolina,3700,10000,4455167.0,4218.9,4051.2,4385.3,6937466.0,2159427.0,117998.0,...,6393.0,310920.0,83671.0,1476541.0,295201.0,1036370.0,627997.0,1303604.0,110809.0,90608.0
34,North Dakota,2014,2809,3169186.0,2287.0,2227.2,2338.4,654024.0,17365.0,39507.0,...,341.0,6600.0,2796.0,113490.0,18163.0,80042.0,65775.0,102497.0,6583.0,5115.0
35,Ohio,3432,7744,4553314.0,3588.4,3477.6,3699.7,9503779.0,1428230.0,21872.0,...,3499.0,103726.0,67808.0,2342883.0,303725.0,1078053.0,672658.0,1341204.0,129078.0,87319.0
36,Oklahoma,3080,5929,3558929.0,3026.7,2935.6,3126.1,2828569.0,283821.0,289871.0,...,5543.0,105686.0,25161.0,676024.0,127731.0,416521.0,193857.0,422888.0,34617.0,24864.0
37,Oregon,1476,1296,1746090.0,1575.6,1537.2,1611.3,3416776.0,76347.0,45332.0,...,15157.0,121000.0,30325.0,529960.0,125961.0,493473.0,242247.0,561492.0,59677.0,43738.0
38,Pennsylvania,2814,4489,3569886.0,2876.4,2775.4,2998.0,10378174.0,1417611.0,24995.0,...,3665.0,251215.0,88660.0,2811564.0,350222.0,944806.0,724522.0,1621733.0,171742.0,127226.0
39,Puerto Rico,5616,5983,1436210.0,3113.7,2986.6,3230.5,2389446.0,338939.0,10849.0,...,136.0,511785.0,62694.0,596851.0,62514.0,257744.0,233946.0,426310.0,29241.0,24653.0
40,Rhode Island,220,25,349532.0,213.8,204.5,222.2,854801.0,68346.0,5413.0,...,759.0,59967.0,10845.0,170239.0,33116.0,92439.0,60883.0,144515.0,15471.0,13092.0
41,South Carolina,2070,2116,1937832.0,1881.0,1797.1,1973.3,3292598.0,1332110.0,14992.0,...,3015.0,74328.0,37167.0,831292.0,147229.0,492571.0,309163.0,571099.0,48967.0,36461.0
42,South Dakota,3036,4485,3326977.0,2674.5,2602.4,2755.1,724430.0,14698.0,74062.0,...,381.0,6687.0,3592.0,146574.0,24338.0,85929.0,63413.0,109468.0,8192.0,6190.0
43,Tennessee,4465,9025,4086578.0,3976.0,3842.9,4111.2,5131786.0,1107392.0,17568.0,...,3784.0,88745.0,49807.0,1189457.0,271907.0,650903.0,312442.0,738613.0,73194.0,53863.0
44,Texas,12192,64516,12673162.0,9910.9,9569.4,10283.5,20459525.0,3286950.0,130360.0,...,23531.0,1580393.0,343605.0,3589196.0,783234.0,2771789.0,1208509.0,3288777.0,274956.0,191047.0
45,Utah,1421,841,1717054.0,993.0,975.7,1011.4,2600077.0,33619.0,32079.0,...,26742.0,150596.0,14327.0,347735.0,50077.0,327785.0,168267.0,375297.0,30298.0,24698.0
46,Vermont,700,196,773538.0,624.0,608.5,638.3,590499.0,7921.0,2072.0,...,206.0,2197.0,2523.0,113798.0,15713.0,53103.0,37351.0,95590.0,11257.0,8049.0
47,Virginia,6783,35111,7483915.0,5553.3,5366.5,5752.7,5720209.0,1605447.0,22499.0,...,5469.0,200265.0,69531.0,1154017.0,224721.0,775944.0,427037.0,1220919.0,139950.0,102313.0
48,Washington,2067,1521,2110386.0,1631.8,1595.7,1670.9,5500837.0,261743.0,94754.0,...,46071.0,293007.0,55780.0,910215.0,191689.0,806418.0,483549.0,1064440.0,104838.0,73660.0
49,West Virginia,2970,3025,2293605.0,2404.6,2346.3,2467.2,1714591.0,65300.0,3322.0,...,541.0,7193.0,10439.0,438270.0,86440.0,162971.0,89742.0,155423.0,16296.0,11105.0
50,Wisconsin,3960,5119,3877158.0,3111.6,3042.0,3182.8,4950577.0,365884.0,50094.0,...,1811.0,111435.0,33447.0,1083233.0,139558.0,551268.0,411875.0,748413.0,64212.0,43737.0
51,Wyoming,1288,529,1358500.0,915.4,903.0,932.6,532394.0,6121.0,13549.0,...,470.0,10247.0,1346.0,91775.0,19819.0,70781.0,42219.0,67798.0,5410.0,4693.0

In [13]:
#pull df for income and age
income_age= combined_state[["State Name", "Household Income", "Median Age", "Median Male Age", "Median Female Age"]]
income_age.head()

,State Name,Household Income,Median Age,Median Male Age,Median Female Age
0,Alabama,2698184.0,2710.1,2604.3,2812.8
1,Alaska,1926338.0,1071.4,1090.5,1048.6
2,Arizona,687250.0,599.0,583.6,616.9
3,Arkansas,2926881.0,3099.8,2996.6,3200.9
4,California,3540712.0,2289.5,2230.3,2366.7

In [14]:
# Merge the datasets using the state columns
income_age_county = pd.merge(income_age, county_counts_df, how="left", left_on="State Name", right_on="State Name")

income_age_county.head()

,State Name,Household Income,Median Age,Median Male Age,Median Female Age,Number of Counties
0,Alabama,2698184.0,2710.1,2604.3,2812.8,67
1,Alaska,1926338.0,1071.4,1090.5,1048.6,29
2,Arizona,687250.0,599.0,583.6,616.9,15
3,Arkansas,2926881.0,3099.8,2996.6,3200.9,75
4,California,3540712.0,2289.5,2230.3,2366.7,58

In [15]:
#divide by number of counties to correct income and ages
income_age_county['Household Income']=income_age_county['Household Income']/income_age_county['Number of Counties']
income_age_county['Median Age']=income_age_county['Median Age']/income_age_county['Number of Counties']
income_age_county['Median Male Age']=income_age_county['Median Male Age']/income_age_county['Number of Counties']
income_age_county['Median Female Age']=income_age_county['Median Female Age']/income_age_county['Number of Counties']

#format household to dollar and Ages to two decimal places
income_age_county['Household Income']=round(income_age_county['Household Income'].astype(float),2)
income_age_county['Median Age']=income_age_county['Median Age'].round(2)
income_age_county['Median Male Age']=income_age_county['Median Male Age'].round(2)
income_age_county['Median Female Age']=income_age_county['Median Female Age'].round(2)

income_median_age=income_age_county[['State Name', 'Household Income', 'Median Age', 'Median Male Age',
                                     'Median Female Age']]
income_median_age.to_csv("income_median_age.csv")
income_median_age.head()

,State Name,Household Income,Median Age,Median Male Age,Median Female Age
0,Alabama,40271.40,40.45,38.87,41.98
1,Alaska,66425.45,36.94,37.60,36.16
2,Arizona,45816.67,39.93,38.91,41.13
3,Arkansas,39025.08,41.33,39.95,42.68
4,California,61046.76,39.47,38.45,40.81

In [16]:
#education by state dataframe
state_education = combined_state[['State Name','No Education', 'High School', 'GED', 
                                  'Some College','Associates Degree','Bachelors Degree',
                                  'Professional Degree', 'Doctoral Degree']]
state_education.head()

,State Name,No Education,High School,GED,Some College,Associates Degree,Bachelors Degree,Professional Degree,Doctoral Degree
0,Alabama,41118.0,831994.0,180557.0,513751.0,267245.0,503930.0,49452.0,34195.0
1,Alaska,3451.0,106162.0,25131.0,94589.0,40210.0,88308.0,8878.0,4865.0
2,Arizona,65604.0,909646.0,181693.0,803209.0,386977.0,802435.0,79689.0,55224.0
3,Arkansas,23003.0,557723.0,123763.0,313209.0,132221.0,280677.0,26156.0,19501.0
4,California,691906.0,4752859.0,592683.0,4091953.0,2021944.0,5291984.0,616368.0,410003.0

In [17]:
#group education levels into less columns
state_education['No College Degree'] = state_education['No Education']+state_education['High School']+state_education['GED']+state_education['Some College']
state_education['Associates or Bachelors Degree']=state_education['Associates Degree']+state_education['Bachelors Degree']
state_education['Post Graduate Degree']= state_education['Professional Degree']+state_education['Doctoral Degree']

#get new dataframe with new columns
group_education = state_education[['State Name','No College Degree','Associates or Bachelors Degree',
                                   'Post Graduate Degree']]

group_education.to_csv("cheryl/edu.csv", encoding="utf-8", index=False)
group_education.head()

C:\Users\cfhor\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\cfhor\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\cfhor\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

FileNotFoundError: [Errno 2] No such file or directory: 'cheryl/edu.csv'

In [ ]:
#add percentage columns
group_education['Total'] = group_education['No College Degree']+group_education['Associates or Bachelors Degree']+group_education['Post Graduate Degree']
group_education['No College Degree Percentage']= group_education['No College Degree']/group_education['Total']
group_education['Associates or Bachelors Degree Percentage']= group_education['Associates or Bachelors Degree']/group_education['Total']
group_education['Post Graduate Degree Percentage']= group_education['Post Graduate Degree']/group_education['Total']
group_education['No College Degree Percentage']= group_education['No College Degree Percentage'].astype(float)
group_education['Associates or Bachelors Degree Percentage']= group_education['Associates or Bachelors Degree Percentage'].astype(float)
group_education['Post Graduate Degree Percentage']= group_education['Post Graduate Degree Percentage'].astype(float)

#define new dataframe
group_with_percent = group_education[['State Name', 'No College Degree', 'Associates or Bachelors Degree',
                                      'Post Graduate Degree', 'Total', 'No College Degree Percentage', 
                                      'Associates or Bachelors Degree Percentage', 
                                      'Post Graduate Degree Percentage']]

group_with_percent.head()

In [ ]:
#dataframe for percentages of education
education_percentages = group_with_percent[['State Name','No College Degree Percentage',
                                            'Associates or Bachelors Degree Percentage',
                                            'Post Graduate Degree Percentage']]

education_percentages.to_csv("education_percentages.csv", encoding="utf-8", index=False)
education_percentages.head()

In [ ]:
#pull ethnicity for dataframe work
ethnicity_data = combined_state[['State Name', "White", "Black or African American", 
                                 "American Indian and Alaska Native", "Asian", 
                                 "Native Hawaiian and Other Pacific Islander", "Other"]]
ethnicity_data.head()

In [53]:
#add total of ethnicity to calculate percent
ethnicity_data['Total Ethnicity']= ethnicity_data['White']+ethnicity_data['Black or African American']+ethnicity_data['American Indian and Alaska Native']+ethnicity_data['Asian']+ethnicity_data['Native Hawaiian and Other Pacific Islander']+ethnicity_data['Other']

#add percentage columns
ethnicity_data['White Percentage']= ethnicity_data['White']/ethnicity_data['Total Ethnicity']
ethnicity_data['Black or African American Percentage']= ethnicity_data['Black or African American']/ethnicity_data['Total Ethnicity']
ethnicity_data['American Indian and Alaska Native Percentage']= ethnicity_data['American Indian and Alaska Native']/ethnicity_data['Total Ethnicity']
ethnicity_data['Asian Percentage']= ethnicity_data['Asian']/ethnicity_data['Total Ethnicity']
ethnicity_data['Native Hawaiian and Other Pacific Islander Percentage']= ethnicity_data['Native Hawaiian and Other Pacific Islander']/ethnicity_data['Total Ethnicity']
ethnicity_data['Other Percentage']= ethnicity_data['Other']/ethnicity_data['Total Ethnicity']

#format percentages
ethnicity_data['White Percentage']= ethnicity_data['White Percentage'].astype(float)
ethnicity_data['Black or African American Percentage']= ethnicity_data['Black or African American Percentage'].astype(float)
ethnicity_data['American Indian and Alaska Native Percentage']= ethnicity_data['American Indian and Alaska Native Percentage'].astype(float)
ethnicity_data['Asian Percentage']= ethnicity_data['Asian Percentage'].astype(float)
ethnicity_data['Native Hawaiian and Other Pacific Islander Percentage']= ethnicity_data['Native Hawaiian and Other Pacific Islander Percentage'].astype(float)
ethnicity_data['Other Percentage']= ethnicity_data['Other Percentage'].astype(float)

#define new dataframe
ethnicity_with_percent=ethnicity_data[['State Name', 'White','Black or African American',
                                       'American Indian and Alaska Native','Asian',
                                       'Native Hawaiian and Other Pacific Islander','Other',
                                       'Total Ethnicity','White Percentage','Black or African American Percentage',
                                       'American Indian and Alaska Native Percentage','Asian Percentage',
                                       'Native Hawaiian and Other Pacific Islander Percentage','Other Percentage']]
ethnicity_with_percent.head()
ethnicity_with_percent.to_csv("final.csv", encoding="utf-8", index=False)

C:\Users\cfhor\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\cfhor\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\cfhor\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\cfhor\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\cfhor\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\cfhor\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
C:\Users\cfhor\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\cfhor\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\cfhor\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\cfhor\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
C:\Users\cfhor\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
C:\Users\cfhor\Anaconda3\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\cfhor\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [51]:
#ethnicity percentage dataframe
ethnicity_percentage = ethnicity_with_percent[['State Name', 'White Percentage', 'Black or African American Percentage', 'American Indian and Alaska Native Percentage', 'Native Hawaiian and Other Pacific Islander Percentage', 'Other Percentage']]

ethnicity_percentage.to_csv("ethnicity_percentages.csv", encoding="utf-8", index=False)
ethnicity_percentage.head()

,State Name,White Percentage,Black or African American Percentage,American Indian and Alaska Native Percentage,Native Hawaiian and Other Pacific Islander Percentage,Other Percentage
0,Alabama,0.696713,0.270303,0.005271,0.000465,0.014058
1,Alaska,0.713131,0.035070,0.155352,0.013427,0.015543
2,Arizona,0.803048,0.044557,0.045676,0.002033,0.072212
3,Arkansas,0.792169,0.158276,0.006702,0.002430,0.025844
4,California,0.635489,0.060924,0.007861,0.004092,0.143478

In [52]:
#merge dataframes for full data dataframe
data_frames = [income_median_age, group_with_percent, ethnicity_with_percent]

df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['State Name'],
                                            how='outer'), data_frames).fillna(0)
df_merged.head()
df_merged.to_csv("merged.csv", encoding="utf-8", index=False)

In [49]:
#define and arrange final dataframe
final_df = df_merged[['State Name', 'Household Income', 'Median Age', 
                    'Median Male Age', 'Median Female Age', 'No College Degree', 'No College Degree Percentage',
                    'Associates or Bachelors Degree','Associates or Bachelors Degree Percentage',
                    'Post Graduate Degree', 'Post Graduate Degree Percentage',
                    'White','White Percentage','Black or African American','Black or African American Percentage',
                    'American Indian and Alaska Native','American Indian and Alaska Native Percentage',
                    'Asian','Asian Percentage','Native Hawaiian and Other Pacific Islander',
                    'Native Hawaiian and Other Pacific Islander Percentage',
                    'Other','Other Percentage']]
                   

final_df.to_csv("final_df.csv", encoding="utf-8", index=False)
final_df.head()

,State Name,Household Income,Median Age,Median Male Age,Median Female Age,No College Degree,No College Degree Percentage,Associates or Bachelors Degree,Associates or Bachelors Degree Percentage,Post Graduate Degree,...,Black or African American,Black or African American Percentage,American Indian and Alaska Native,American Indian and Alaska Native Percentage,Asian,Asian Percentage,Native Hawaiian and Other Pacific Islander,Native Hawaiian and Other Pacific Islander Percentage,Other,Other Percentage
0,Alabama,40271.40,40.45,38.87,41.98,1567420.0,0.647095,771175.0,0.318372,83647.0,...,1287167.0,0.270303,25098.0,0.005271,62815.0,0.013191,2213.0,0.000465,66942.0,0.014058
1,Alaska,66425.45,36.94,37.60,36.16,229333.0,0.617160,128518.0,0.345856,13743.0,...,23702.0,0.035070,104995.0,0.155352,45604.0,0.067476,9075.0,0.013427,10505.0,0.015543
2,Arizona,45816.67,39.93,38.91,41.13,1960152.0,0.596793,1189412.0,0.362131,134913.0,...,292831.0,0.044557,300182.0,0.045676,213417.0,0.032473,13364.0,0.002033,474583.0,0.072212
3,Arkansas,39025.08,41.33,39.95,42.68,1017698.0,0.689379,412898.0,0.279693,45657.0,...,459969.0,0.158276,19476.0,0.006702,42368.0,0.014579,7062.0,0.002430,75106.0,0.025844
4,California,61046.76,39.47,38.45,40.81,10129401.0,0.548433,7313928.0,0.395996,1026371.0,...,2263222.0,0.060924,292018.0,0.007861,5503672.0,0.148155,152027.0,0.004092,5329952.0,0.143478