In [38]:
import pandas as pd
import numpy as np

In [39]:
census_data = pd.read_csv("census_pd.csv")
income = census_data[["County FIPS", "Household Income"]]
income
income.to_csv("income.csv", header=False, index=False)
# census_data

In [40]:
census = pd.read_csv("census_state.csv")
income_state = census[["State Name", "Household Income"]]

income_state.to_csv("income_state.csv", header=False, index=False)
census.head()

,State Name,State FIPS,County FIPS,Household Income,Median Age,Median Male Age,Median Female Age,White,Black or African American,American Indian and Alaska Native,...,Native Hawaiian and Other Pacific Islander,Other,No Education,High School,GED,Some College,Associates Degree,Bachelors Degree,Professional Degree,Doctoral Degree
0,Alabama,67,4489,2698184.0,2710.1,2604.3,2812.8,3317702.0,1287167.0,25098.0,...,2213.0,66942.0,41118.0,831994.0,180557.0,513751.0,267245.0,503930.0,49452.0,34195.0
1,Alaska,58,4340,1926338.0,1071.4,1090.5,1048.6,481971.0,23702.0,104995.0,...,9075.0,10505.0,3451.0,106162.0,25131.0,94589.0,40210.0,88308.0,8878.0,4865.0
2,Arizona,60,208,687250.0,599.0,583.6,616.9,5277661.0,292831.0,300182.0,...,13364.0,474583.0,65604.0,909646.0,181693.0,803209.0,386977.0,802435.0,79689.0,55224.0
3,Arkansas,375,5625,2926881.0,3099.8,2996.6,3200.9,2302141.0,459969.0,19476.0,...,7062.0,75106.0,23003.0,557723.0,123763.0,313209.0,132221.0,280677.0,26156.0,19501.0
4,California,348,3364,3540712.0,2289.5,2230.3,2366.7,23607242.0,2263222.0,292018.0,...,152027.0,5329952.0,691906.0,4752859.0,592683.0,4091953.0,2021944.0,5291984.0,616368.0,410003.0

In [41]:
final = pd.read_csv("final.csv")
population = final["Total Ethnicity"]
population = pd.DataFrame(final["Total Ethnicity"])
population = population.rename(columns= {"Total Ethnicity":"Population"})
population.to_csv("population.csv", index=False)

In [42]:
income_state["Household Income"] = population["Population"].astype(float)
# del income_state["Household Income"]

income_state.to_csv("incomeav.csv", index=False)
income_state

C:\Users\cfhor\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

              State Name  Household Income
0                Alabama         4761937.0
1                 Alaska          675852.0
2                Arizona         6572038.0
3               Arkansas         2906122.0
4             California        37148133.0
5               Colorado         5247610.0
6            Connecticut         3483824.0
7               Delaware          917472.0
8   District of Columbia          653098.0
9                Florida        19763624.0
10               Georgia         9964394.0
11                Hawaii         1083160.0
12                 Idaho         1613461.0
13              Illinois        12543129.0
14               Indiana         6460980.0
15                  Iowa         3055368.0
16                Kansas         2805405.0
17              Kentucky         4328073.0
18             Louisiana         4575938.0
19                 Maine         1302056.0
20              Maryland         5806478.0
21         Massachusetts         6579796.0
22              Michigan         9646666.0
23             Minnesota         5336282.0
24           Mississippi         2948291.0
25              Missouri         5923910.0
26               Montana         1001478.0
27              Nebraska         1848350.0
28                Nevada         2753390.0
29         New Hampshire         1305658.0
30            New Jersey         8731100.0
31            New Mexico         2016546.0
32              New York        19208202.0
33        North Carolina         9801368.0
34          North Dakota          728034.0
35                  Ohio        11296984.0
36              Oklahoma         3594160.0
37                Oregon         3840963.0
38          Pennsylvania        12493185.0
39           Puerto Rico         3258944.0
40          Rhode Island         1024842.0
41        South Carolina         4789037.0
42          South Dakota          831951.0
43             Tennessee         6459880.0
44                 Texas        26717611.0
45                  Utah         2910658.0
46               Vermont          612575.0
47              Virginia         8074008.0
48            Washington         6775234.0
49         West Virginia         1805043.0
50             Wisconsin         5632126.0
51               Wyoming          567883.0