In [53]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from census import Census
from us import states

# Census API Key
from config import api_key
c = Census(api_key, year=2017)

In [58]:
# Run Census Search to retrieve data on all zip codes (2017 ACS5 Census)
# See: https://github.com/CommerceDataService/census-wrapper for library documentation
# See: https://gist.github.com/afhaque/60558290d6efd892351c4b64e5c01e9b for labels
census_data_state = c.acs5.get(("B19013_001E","B01002_001E","B01002_002E", "B01002_003E", "B15003_002E",
                                "B15003_017E", "B15003_018E", "B15003_020E", "B15003_021E", "B15003_022E","B15003_023E",
                                "B15003_024E","B15003_025E"), {'for': 'state:*'})

# Convert to DataFrame
census_state_pd = pd.DataFrame(census_data_state)


# Column Reordering
census_state_pd = census_state_pd.rename(columns={"B19013_001E": "Household Income",
                                      "B01002_001E": "Median Age",
                                      "B01002_002E": "Median Male Age",
                                      "B01002_003E": "Median Female Age",
                                      "B15003_002E": "No Education",
                                      "B15003_017E": "High School", 
                                      "B15003_018E": "GED",
                                      "B15003_020E": "Some College",
                                      "B15003_021E": "Associates Degree",
                                      "B15003_022E": "Bachelors Degree",
                                      "B15003_023E": "Masters Degree",
                                      "B15003_024E": "Professional Degree",
                                      "B15003_025E": "Doctoral Degree",
                                      "state": "State"})

# Final DataFrame
census_state_pd = census_state_pd[["State", "Household Income", "Median Age", "Median Male Age", 
                                         "Median Female Age", "No Education", "High School", "GED", "Some College", "Associates Degree",
                                         "Bachelors Degree", "Professional Degree", "Doctoral Degree" ]]

print(len(census_state_pd))
census_state_pd.head()

52

,State,Household Income,Median Age,Median Male Age,Median Female Age,No Education,High School,GED,Some College,Associates Degree,Bachelors Degree,Professional Degree,Doctoral Degree
0,72,19775.0,40.1,38.1,41.8,62694.0,596851.0,62514.0,257744.0,233946.0,426310.0,29241.0,24653.0
1,01,46472.0,38.7,37.2,40.1,41118.0,831994.0,180557.0,513751.0,267245.0,503930.0,49452.0,34195.0
2,02,76114.0,33.9,33.4,34.4,3451.0,106162.0,25131.0,94589.0,40210.0,88308.0,8878.0,4865.0
3,04,53510.0,37.2,35.9,38.5,65604.0,909646.0,181693.0,803209.0,386977.0,802435.0,79689.0,55224.0
4,05,43813.0,37.9,36.5,39.3,23003.0,557723.0,123763.0,313209.0,132221.0,280677.0,26156.0,19501.0

In [50]:
states.lookup('72').abbr

'PR'

In [51]:
census_data_county = c.acs5.get(("B19013_001E","B01002_001E","B01002_002E", "B01002_003E", "B15003_002E",
                                "B15003_017E", "B15003_018E", "B15003_021E", "B15003_022E","B15003_023E",
                                "B15003_024E","B15003_025E"), {'for': 'county:*'})
census_county_pd = pd.DataFrame(census_data_county)
census_county_pd = census_county_pd.rename(columns={"B19013_001E": "Household Income",
                                      "B01002_001E": "Median Age",
                                      "B01002_002E": "Median Male Age",
                                      "B01002_003E": "Median Female Age",
                                      "B15003_002E": "No Education",
                                      "B15003_017E": "High School", 
                                      "B15003_018E": "GED",
                                      "B15003_021E": "Associates Degree",
                                      "B15003_022E": "Bachelors Degree",
                                      "B15003_023E": "Masters Degree",
                                      "B15003_024E": "Professional Degree",
                                      "B15003_025E": "Doctoral Degree",
                                      "county": "County"})
census_county_pd = census_county_pd[["County", "Household Income", "Median Age", "Median Male Age", 
                                         "Median Female Age", "No Education", "High School", "GED", "Associates Degree",
                                         "Bachelors Degree", "Professional Degree", "Doctoral Degree" ]]

print(len(census_county_pd))
census_county_pd.head()

3220

,County,Household Income,Median Age,Median Male Age,Median Female Age,No Education,High School,GED,Associates Degree,Bachelors Degree,Professional Degree,Doctoral Degree
0,047,14752.0,38.1,36.9,39.3,698.0,6371.0,262.0,1837.0,3142.0,0.0,92.0
1,095,17636.0,43.5,42.9,44.0,320.0,1874.0,161.0,690.0,1156.0,0.0,13.0
2,111,16868.0,36.4,35.7,37.1,376.0,3991.0,297.0,1712.0,2415.0,99.0,125.0
3,113,16561.0,39.5,36.5,42.1,2557.0,28670.0,1974.0,8357.0,19156.0,1179.0,1714.0
4,131,14275.0,42.0,40.2,43.8,1251.0,6274.0,555.0,2301.0,4135.0,116.0,71.0

In [52]:
# Write to CSV
# census_pd.to_csv("census_data.csv", encoding="utf-8", index=False)