In [10]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from census import Census
from us import states

# Census API Key
from config import api_key
c = Census(api_key, year=2017)

In [16]:
# Run Census Search to retrieve data on all states (2017 ACS5 Census)
# See: https://github.com/CommerceDataService/census-wrapper for library documentation
# See: https://gist.github.com/afhaque/60558290d6efd892351c4b64e5c01e9b for labels
census_pd = c.acs5.get(("NAME","B19013_001E","B01002_001E","B01002_002E", "B01002_003E", "B02001_002E",
                        "B02001_003E", "B02001_004E", "B02001_005E", "B02001_006E", "B02001_007E", "B15003_002E",
                                "B15003_017E", "B15003_018E", "B15003_020E", "B15003_021E", "B15003_022E","B15003_023E",
                                "B15003_024E","B15003_025E"), {'for': 'county:*', 'in': 'state: *'})

# Convert to DataFrame
census_pd = pd.DataFrame(census_pd)


# Column Reordering
census_pd = census_pd.rename(columns={"B19013_001E": "Household Income",
                                      "B01002_001E": "Median Age",
                                      "B01002_002E": "Median Male Age",
                                      "B01002_003E": "Median Female Age",
                                      "B02001_002E": "White",
                                      "B02001_003E": "Black or African American",
                                      "B02001_004E": "American Indian and Alaska Native",
                                      "B02001_005E": "Asian",                                   
                                      "B02001_006E": "Native Hawaiian and Other Pacific Islander",
                                      "B02001_007E": "Other",
                                      "B15003_002E": "No Education",
                                      "B15003_017E": "High School", 
                                      "B15003_018E": "GED",
                                      "B15003_020E": "Some College",
                                      "B15003_021E": "Associates Degree",
                                      "B15003_022E": "Bachelors Degree",
                                      "B15003_023E": "Masters Degree",
                                      "B15003_024E": "Professional Degree",
                                      "B15003_025E": "Doctoral Degree",
                                      "state": "State FIPS",
                                      "county": "County FIPS",
                                      "NAME": "Name"})

# Final DataFrame
census_pd = census_pd[["Name", "State FIPS", "County FIPS", "Household Income", "Median Age", "Median Male Age", 
                    "Median Female Age","White", "Black or African American", "American Indian and Alaska Native",
                       "Asian", "Native Hawaiian and Other Pacific Islander", "Other", "No Education", "High School", "GED", "Some College", "Associates Degree",
                                         "Bachelors Degree", "Professional Degree", "Doctoral Degree"]]

print(len(census_pd))
census_pd.head()

3220

,Name,State FIPS,County FIPS,Household Income,Median Age,Median Male Age,Median Female Age,White,Black or African American,American Indian and Alaska Native,...,Native Hawaiian and Other Pacific Islander,Other,No Education,High School,GED,Some College,Associates Degree,Bachelors Degree,Professional Degree,Doctoral Degree
0,"Corozal Municipio, Puerto Rico",72,047,14752.0,38.1,36.9,39.3,28500.0,2097.0,0.0,...,0.0,2916.0,698.0,6371.0,262.0,2972.0,1837.0,3142.0,0.0,92.0
1,"Maunabo Municipio, Puerto Rico",72,095,17636.0,43.5,42.9,44.0,3795.0,7042.0,10.0,...,0.0,317.0,320.0,1874.0,161.0,935.0,690.0,1156.0,0.0,13.0
2,"Peñuelas Municipio, Puerto Rico",72,111,16868.0,36.4,35.7,37.1,16967.0,755.0,29.0,...,0.0,3643.0,376.0,3991.0,297.0,1095.0,1712.0,2415.0,99.0,125.0
3,"Ponce Municipio, Puerto Rico",72,113,16561.0,39.5,36.5,42.1,117164.0,7493.0,211.0,...,0.0,9801.0,2557.0,28670.0,1974.0,10273.0,8357.0,19156.0,1179.0,1714.0
4,"San Sebastián Municipio, Puerto Rico",72,131,14275.0,42.0,40.2,43.8,28075.0,996.0,0.0,...,0.0,9202.0,1251.0,6274.0,555.0,3116.0,2301.0,4135.0,116.0,71.0

In [12]:
# Read in the csv containing state names by code
State_FIPS_pd = pd.read_csv("State_FIPS_Codes.csv")
State_FIPS_pd.head()

   State FIPS  State Name
0           1     Alabama
1           2      Alaska
2           4     Arizona
3           5    Arkansas
4           6  California

In [13]:
# Read in the csv containing county names by code
County_FIPS_pd = pd.read_csv("County_FIPS_Codes.csv")
County_FIPS_pd.head()

   County FIPS     County Name
0            1  Autauga County
1            3  Baldwin County
2            5  Barbour County
3            7     Bibb County
4            9   Blount County

In [14]:
#Write to CSV
census_pd.to_csv("census_data.csv", encoding="utf-8", index=False)