In [38]:
import pandas as pd
import numpy as np

In [39]:
census_data = pd.read_csv("census_pd.csv")
income = census_data[["County FIPS", "Household Income"]]
income
income.to_csv("income.csv", header=False, index=False)
# census_data

In [40]:
census = pd.read_csv("census_state.csv")
income_state = census[["State Name", "Household Income"]]

income_state.to_csv("income_state.csv", header=False, index=False)
census.head()

,State Name,State FIPS,County FIPS,Household Income,Median Age,Median Male Age,Median Female Age,White,Black or African American,American Indian and Alaska Native,...,Native Hawaiian and Other Pacific Islander,Other,No Education,High School,GED,Some College,Associates Degree,Bachelors Degree,Professional Degree,Doctoral Degree
0,Alabama,67,4489,2698184.0,2710.1,2604.3,2812.8,3317702.0,1287167.0,25098.0,...,2213.0,66942.0,41118.0,831994.0,180557.0,513751.0,267245.0,503930.0,49452.0,34195.0
1,Alaska,58,4340,1926338.0,1071.4,1090.5,1048.6,481971.0,23702.0,104995.0,...,9075.0,10505.0,3451.0,106162.0,25131.0,94589.0,40210.0,88308.0,8878.0,4865.0
2,Arizona,60,208,687250.0,599.0,583.6,616.9,5277661.0,292831.0,300182.0,...,13364.0,474583.0,65604.0,909646.0,181693.0,803209.0,386977.0,802435.0,79689.0,55224.0
3,Arkansas,375,5625,2926881.0,3099.8,2996.6,3200.9,2302141.0,459969.0,19476.0,...,7062.0,75106.0,23003.0,557723.0,123763.0,313209.0,132221.0,280677.0,26156.0,19501.0
4,California,348,3364,3540712.0,2289.5,2230.3,2366.7,23607242.0,2263222.0,292018.0,...,152027.0,5329952.0,691906.0,4752859.0,592683.0,4091953.0,2021944.0,5291984.0,616368.0,410003.0

In [49]:
final = pd.read_csv("final_df.csv")
population = final["Household Income"]
population = pd.DataFrame(final["Household Income"])
population = population.rename(columns= {"Household Income":"Population"})
population.to_csv("population.csv", index=False)

In [50]:
income_state["Household Income"] = population["Population"].astype(float)
# del income_state["Household Income"]

income_state.to_csv("incomeav.csv", index=False, header=False)
income_state.head()

C:\Users\cfhor\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

   State Name  Household Income
0     Alabama          40271.40
1      Alaska          66425.45
2     Arizona          45816.67
3    Arkansas          39025.08
4  California          61046.76

In [47]:
final = pd.read_csv("final_df.csv")
final.head()

,State Name,Household Income,Median Age,Median Male Age,Median Female Age,No College Degree,No College Degree Percentage,Associates or Bachelors Degree,Associates or Bachelors Degree Percentage,Post Graduate Degree,...,Black or African American,Black or African American Percentage,American Indian and Alaska Native,American Indian and Alaska Native Percentage,Asian,Asian Percentage,Native Hawaiian and Other Pacific Islander,Native Hawaiian and Other Pacific Islander Percentage,Other,Other Percentage
0,Alabama,40271.40,40.45,38.87,41.98,1567420.0,0.647095,771175.0,0.318372,83647.0,...,1287167.0,0.270303,25098.0,0.005271,62815.0,0.013191,2213.0,0.000465,66942.0,0.014058
1,Alaska,66425.45,36.94,37.60,36.16,229333.0,0.617160,128518.0,0.345856,13743.0,...,23702.0,0.035070,104995.0,0.155352,45604.0,0.067476,9075.0,0.013427,10505.0,0.015543
2,Arizona,45816.67,39.93,38.91,41.13,1960152.0,0.596793,1189412.0,0.362131,134913.0,...,292831.0,0.044557,300182.0,0.045676,213417.0,0.032473,13364.0,0.002033,474583.0,0.072212
3,Arkansas,39025.08,41.33,39.95,42.68,1017698.0,0.689379,412898.0,0.279693,45657.0,...,459969.0,0.158276,19476.0,0.006702,42368.0,0.014579,7062.0,0.002430,75106.0,0.025844
4,California,61046.76,39.47,38.45,40.81,10129401.0,0.548433,7313928.0,0.395996,1026371.0,...,2263222.0,0.060924,292018.0,0.007861,5503672.0,0.148155,152027.0,0.004092,5329952.0,0.143478